---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "NYC",
    icon: "map:beauty-salon",
    url: "https://reactjs.org/",
  },
  {
    title: "NYC",
    icon: "noto:barber-pole",
    url: "https://preactjs.com/",
  },
  {
    title: "Philly",
    icon: "map:beauty-salon",
    url: "https://svelte.dev/",
  },
  {
    title: "Philly",
    icon: "noto:barber-pole",
    url: "https://vuejs.org/",
  },
  {
    title: "MIA",
    icon: "map:beauty-salon",
    url: "https://www.solidjs.com/",
  },
  {
    title: "MIA",
    icon: "noto:barber-pole",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Podcast",
    icon: "mdi:podcast",
    url: "https://www.netlify.com/",
  },
  {
    title: "Marketplace",
    icon: "icon-park-outline:weixin-market",
    url: "https://vercel.com/",
  },
  {
    title: "File Storage",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Local Events",
    icon: "carbon:events",
    url: "https://render.com/",
  },
  {
    title: "Award Show",
    icon: "healthicons:award-trophy-outline",
    url: "https://pages.github.com/",
  },
  {
    title: "Salon Suites",
    icon: "map:beauty-salon",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Future" id="compatibility">
  <Fragment slot="lead">
    We're scaling <span class="text-primary">Arvrtise Hair</span> to allow
    our tribe to own a piece of history. Our upcoming salon suites will allow
    brands to operate their business <span class="text-primary">rent free</span> by monetizing their content.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Cities"
    url="https://discord.gg/kkMhA3BZX5"
  />
  <CompatibilityList
    items={platforms}
    title="Next"
    url="https://discord.gg/kkMhA3BZX5"
  />
</ContentSection>
