---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "NYC",
    icon: "map:beauty-salon",
    url: "https://reactjs.org/",
  },
  {
    title: "NYC",
    icon: "noto:barber-pole",
    url: "https://preactjs.com/",
  },
  {
    title: "Philly",
    icon: "map:beauty-salon",
    url: "https://svelte.dev/",
  },
  {
    title: "Philly",
    icon: "noto:barber-pole",
    url: "https://vuejs.org/",
  },
  {
    title: "MIA",
    icon: "map:beauty-salon",
    url: "https://www.solidjs.com/",
  },
  {
    title: "MIA",
    icon: "noto:barber-pole",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Hairverse",
    icon:"emojione-monotone:sparkles",
    url: "https://www.spatial.io/s/Hairverse-63a2cfa4d49a590001d7d5fb?share=1273140408900528653",
  },
  {
    title: "Podcast",
    icon: "mdi:podcast",
    url: "https://arvrtise.com",
  },
  {
    title: "Marketplace",
    icon: "icon-park-outline:weixin-market",
    url: "https://arvrtise.com",
  },
  {
    title: "Local Events",
    icon: "carbon:events",
    url: "https://arvrtise.com",
  },
  {
    title: "Award Show",
    icon: "healthicons:award-trophy-outline",
    url: "https://arvrtise.com",
  },
  {
    title: "Salon Suites",
    icon: "map:beauty-salon",
    url: "https://arvrtise.com",
  },
];
---

<ContentSection title="Future" id="compatibility">
  <Fragment slot="lead">
    We're scaling <span class="text-primary">Arvrtise Hair</span> to allow
    our tribe to own a piece of history. 
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Cities"
    url="https://discord.gg/kkMhA3BZX5"
  />
  <CompatibilityList
    items={platforms}
    title="Next"
    url="https://discord.gg/kkMhA3BZX5"
  />
</ContentSection>
