---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Hairverse",
    description: "Network, promote your brand and host events in our Hairverse metaverse. Home of our future upcoming metaverse award shows",
    icon:"noto:sparkles",
  },
  {
    title: "Accept Crypto",
    description: "Hair Master tier Discord subscribers receive a custom <a href="https://haircolorvet.arvrtise.link">Solana POS link</a> to accpet $SOL money with $0 middleman fees.",
    icon: "🪙",
  },
  {
    title: "Social Media AR Filters",
    description: "We create branded social media AR Filters on TikTok, Instagram and Facebook to allow your customers to market your brand for a discount of service.",
    icon: "icon-park:camera",
  },
  {
    title: "Live Stream",
    description: "Schedule a live Discord audio event or livestream on our @ahairshow in front of our 26.5k instagram followers. Generate new clients who want to stay tapped in.",
    icon: "fxemoji:studiomic",
  },
  {
    title: "No algorithms",
    description: "Upload or embed social media hair content, video reviews or how to content with a link. Level up and create your own branded channel in your your city.",
    icon: "noto:level-slider",
  },
  {
    title: "Gift cards",
    description: "We offer blockchain gift cards available for purchase through Stripe. These cards enable your customers to resell them, eliminating the need to cancel a booked appointment. ",
    icon: "noto:barber-pole",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Arvrtise</span> provides entrepenuers with all of
    the marketing tools they need take your business to the metaverse.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
