---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="We own this Hair game" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Arvrtise hair show is a tribe of <span class="text-primary">hair stylists</span>,
    <span class="text-primary">barbers</span> and <span class="text-primary">customers</span>.
    Our purpose is to allow barbers and stylists to show
    case their unique hair styles, own and sell them with
    no middleman fees.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://instagram.com/ahairshow"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="instagram" class="h-8" />
      <span>Follow @AHAIRSHOW</span>
    </a>
    <a
      href="https://discord.gg/kkMhA3BZX5"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Subscribe</span>
    </a>
  </div>
</ContentSection>
