---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Build Your TikTok Reviews" id="intro">
  <Fragment slot="lead">
    Customers trust <span class="text-primary">TikTok reviews</span> more than <span class="text-primary">Google reviews</span> - and they spend <span class="text-primary"> 5x</span> more time
    there more than  <span class="text-primary">Netflix</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://tiktok.com/@ahairshow"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="simple-icons:tiktok" class="h-8" />
      <span>Follow @bitcohair</span>
    </a>
    <a
      href="https://buy.stripe.com/aFadR9aWZ3mCdt56j75wI1h"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Subscribe</span>
    </a>
  </div>
</ContentSection>